/*
Name: 			theme.css
Written by: 	Sveroo Themes - (http://www.Sveroo.net)
Theme Version:	@@version
*/

// COMMON IMPORTS
@import "config/imports";
// BASE
@import "base/base";
@import "base/header";
@import "base/page-header";
// GRID
@import "base/grid";
// UTILITIES
@import "base/utilities";
// FOOTER
@import "base/footer";
// LAYOUTS
@import "layouts/dark";
@import "layouts/boxed";
@import "layouts/gap-outside";